<!-- Shown on Mobile Only -->

<ul class="tw-list-none tw-flex">
{% if settings.show_multiple_currencies %}
  <li>
    {% render 'currencies-switcher' %}
  </li>
{% endif %}
 <li class="seeks tw-px-2">
  <a id="search_trigger" class="js-search-trigger js-search-mobile-trigger" href="#">
    <i class="icon icon-search" aria-hidden="true"></i>
  </a>
</li>
  
  <li>
    <a href="{{ routes.cart_url }}" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
      <span class="cart-words">{{ 'cart.general.title' | t }}</span>
      &nbsp;<i class="icon icon-cart" aria-hidden="true"></i>
      <span class="CartCount tw-absolute tw-opacity-0 tw-px-0.5">{{ cart.item_count }}</span>
    </a>
  </li>
</ul>
