.tw-pointer-events-none {
  pointer-events: none
}

.tw-pointer-events-auto {
  pointer-events: auto
}

.tw-invisible {
  visibility: hidden
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.tw-left-0 {
  left: 0px
}

.tw-top-full {
  top: 100%
}

.tw-top-6 {
  top: 1.5rem
}

.tw-right-6 {
  right: 1.5rem
}

.tw-top-0 {
  top: 0px
}

.tw--left-8 {
  left: -2rem
}

.tw--right-8 {
  right: -2rem
}

.tw-top-1\/2 {
  top: 50%
}

.tw-right-0 {
  right: 0px
}

.tw-isolate {
  isolation: isolate
}

.tw-z-\[-1\] {
  z-index: -1
}

.tw-z-20 {
  z-index: 20
}

.tw-col-span-1 {
  grid-column: span 1 / span 1
}

.tw-m-0 {
  margin: 0px
}

.\!tw-m-0 {
  margin: 0px !important
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-mb-0 {
  margin-bottom: 0px
}

.tw-ml-auto {
  margin-left: auto
}

.tw-mt-4 {
  margin-top: 1rem
}

.tw-mt-12 {
  margin-top: 3rem
}

.tw-mb-5 {
  margin-bottom: 1.25rem
}

.tw-mt-6 {
  margin-top: 1.5rem
}

.tw-block {
  display: block
}

.\!tw-block {
  display: block !important
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-h-72 {
  height: 18rem
}

.tw-h-12 {
  height: 3rem
}

.tw-h-full {
  height: 100%
}

.tw-h-10 {
  height: 2.5rem
}

.\!tw-h-full {
  height: 100% !important
}

.tw-h-\[5px\] {
  height: 5px
}

.tw-h-\[220px\] {
  height: 220px
}

.tw-min-h-\[500px\] {
  min-height: 500px
}

.tw-w-full {
  width: 100%
}

.tw-w-40 {
  width: 10rem
}

.tw-w-12 {
  width: 3rem
}

.tw-w-\[120\%\] {
  width: 120%
}

.tw-w-10 {
  width: 2.5rem
}

.\!tw-w-full {
  width: 100% !important
}

.tw-w-\[5px\] {
  width: 5px
}

.tw-max-w-\[980px\] {
  max-width: 980px
}

.tw-max-w-\[1280px\] {
  max-width: 1280px
}

.tw-max-w-sm {
  max-width: 24rem
}

.tw-max-w-prose {
  max-width: 65ch
}

.tw-max-w-xl {
  max-width: 36rem
}

.tw-max-w-2xl {
  max-width: 42rem
}

.tw-max-w-full {
  max-width: 100%
}

.\!tw-max-w-\[180px\] {
  max-width: 180px !important
}

.tw-max-w-\[292px\] {
  max-width: 292px
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw--rotate-90 {
  --tw-rotate: -90deg;
  transform: var(--tw-transform)
}

.tw--rotate-180 {
  --tw-rotate: -180deg;
  transform: var(--tw-transform)
}

.tw-list-none {
  list-style-type: none
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.tw-flex-col {
  flex-direction: column
}

.tw-flex-wrap {
  flex-wrap: wrap
}

.tw-items-start {
  align-items: flex-start
}

.tw-items-center {
  align-items: center
}

.tw-items-baseline {
  align-items: baseline
}

.tw-justify-start {
  justify-content: flex-start
}

.tw-justify-end {
  justify-content: flex-end
}

.tw-justify-center {
  justify-content: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-6 {
  gap: 1.5rem
}

.tw-gap-3 {
  gap: 0.75rem
}

.tw-gap-8 {
  gap: 2rem
}

.tw-gap-2 {
  gap: 0.5rem
}

.tw-gap-y-6 {
  row-gap: 1.5rem
}

.tw-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.tw-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.tw-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.tw-self-center {
  align-self: center
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tw-rounded-full {
  border-radius: 9999px
}

.tw-border-none {
  border-style: none
}

.tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.tw-border-current {
  border-color: currentColor
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.tw-bg-\[color\:var\(--section-bg\)\] {
  background-color: var(--section-bg)
}

.tw-bg-\[\#f9f9f9\] {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 249, 249, var(--tw-bg-opacity))
}

.tw-bg-transparent {
  background-color: transparent
}

.tw-bg-current {
  background-color: currentColor
}

.tw-bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.tw-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity))
}

.tw-bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.tw-bg-opacity-80 {
  --tw-bg-opacity: 0.8
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-p-6 {
  padding: 1.5rem
}

.tw-p-0 {
  padding: 0px
}

.tw-py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.tw-px-0\.5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem
}

.tw-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.tw-pt-6 {
  padding-top: 1.5rem
}

.tw-pt-16 {
  padding-top: 4rem
}

.tw-pt-11 {
  padding-top: 2.75rem
}

.tw-text-left {
  text-align: left
}

.tw-text-center {
  text-align: center
}

.tw-text-right {
  text-align: right
}

.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.\!tw-text-\[20px\] {
  font-size: 20px !important
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.\!tw-text-\[11px\] {
  font-size: 11px !important
}

.\!tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.\!tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-font-bold {
  font-weight: 700
}

.tw-font-normal {
  font-weight: 400
}

.tw-uppercase {
  text-transform: uppercase
}

.tw-leading-tight {
  line-height: 1.25
}

.tw-leading-none {
  line-height: 1
}

.tw-text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.\!tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important
}

.tw-underline {
  text-decoration: underline
}

.tw-opacity-0 {
  opacity: 0
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-filter {
  filter: var(--tw-filter)
}

.tw-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-duration-700 {
  transition-duration: 700ms
}

.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.hover\:tw-border-black:hover {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity))
}

.hover\:tw-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.hover\:tw-brightness-50:hover {
  --tw-brightness: brightness(.5);
  filter: var(--tw-filter)
}

.hover\:tw-grayscale:hover {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-filter)
}

.tw-group:focus-within .group-focus-within\:tw-visible {
  visibility: visible
}

.tw-group:focus-within .group-focus-within\:tw-mt-6 {
  margin-top: 1.5rem
}

.tw-group:focus-within .group-focus-within\:tw-opacity-100 {
  opacity: 1
}

@media (min-width: 640px) {
  .sm\:tw-block {
    display: block
  }

  .sm\:tw-hidden {
    display: none
  }

  .sm\:tw-h-\[300px\] {
    height: 300px
  }

  .sm\:tw-w-\[160\%\] {
    width: 160%
  }

  .sm\:tw-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .sm\:tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }

  .sm\:tw-text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
  }
}

@media (min-width: 768px) {
  .md\:tw-w-full {
    width: 100%
  }

  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:tw-items-center {
    align-items: center
  }

  .md\:tw-gap-6 {
    gap: 1.5rem
  }

  .md\:tw-pt-0 {
    padding-top: 0px
  }

  .md\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .md\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .md\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
}

@media (min-width: 1024px) {
  .lg\:tw-ml-auto {
    margin-left: auto
  }

  .lg\:tw-block {
    display: block
  }

  .lg\:tw-flex {
    display: flex
  }

  .lg\:tw-hidden {
    display: none
  }

  .lg\:tw-h-\[31px\] {
    height: 31px
  }

  .lg\:tw-h-\[600px\] {
    height: 600px
  }

  .lg\:tw-min-h-\[640px\] {
    min-height: 640px
  }

  .lg\:tw-w-auto {
    width: auto
  }

  .lg\:tw-w-1\/3 {
    width: 33.333333%
  }

  .lg\:tw-w-\[40\%\] {
    width: 40%
  }

  .lg\:tw-w-\[60\%\] {
    width: 60%
  }

  .lg\:tw-w-\[54px\] {
    width: 54px
  }

  .lg\:tw-max-w-lg {
    max-width: 32rem
  }

  .lg\:tw-max-w-\[calc\(640px-10\%\)\] {
    max-width: calc(640px - 10%)
  }

  .lg\:tw-max-w-\[240px\] {
    max-width: 240px
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .lg\:tw-flex-row {
    flex-direction: row
  }

  .lg\:tw-items-start {
    align-items: flex-start
  }

  .lg\:tw-items-end {
    align-items: flex-end
  }

  .lg\:tw-items-center {
    align-items: center
  }

  .lg\:tw-rounded-none {
    border-radius: 0px
  }

  .lg\:tw-border {
    border-width: 1px
  }

  .lg\:tw-border-solid {
    border-style: solid
  }

  .lg\:tw-bg-transparent {
    background-color: transparent
  }

  .lg\:tw-p-8 {
    padding: 2rem
  }

  .lg\:tw-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .lg\:tw-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
  }

  .lg\:tw-text-left {
    text-align: left
  }

  .lg\:tw-text-right {
    text-align: right
  }
}

@media (min-width: 1280px) {
  .xl\:tw-max-w-7xl {
    max-width: 80rem
  }
}

@media (min-width: 1536px) {
  .\32xl\:tw-min-h-\[1100px\] {
    min-height: 1100px
  }
}