.tw-pointer-events-none {
  pointer-events: none
}

.tw-pointer-events-auto {
  pointer-events: auto
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.tw-top-0 {
  top: 0px
}

.tw--left-8 {
  left: -2rem
}

.tw--right-8 {
  right: -2rem
}

.tw-col-span-1 {
  grid-column: span 1 / span 1
}

.tw-m-0 {
  margin: 0px
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-ml-auto {
  margin-left: auto
}

.tw-mb-0 {
  margin-bottom: 0px
}

.tw-block {
  display: block
}

.\!tw-block {
  display: block !important
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-h-72 {
  height: 18rem
}

.tw-h-12 {
  height: 3rem
}

.tw-h-full {
  height: 100%
}

.tw-h-10 {
  height: 2.5rem
}

.\!tw-h-full {
  height: 100% !important
}

.tw-h-\[5px\] {
  height: 5px
}

.tw-h-\[220px\] {
  height: 220px
}

.tw-w-full {
  width: 100%
}

.tw-w-40 {
  width: 10rem
}

.tw-w-12 {
  width: 3rem
}

.tw-w-10 {
  width: 2.5rem
}

.\!tw-w-full {
  width: 100% !important
}

.tw-w-\[5px\] {
  width: 5px
}

.tw-max-w-sm {
  max-width: 24rem
}

.tw-max-w-\[980px\] {
  max-width: 980px
}

.tw-max-w-prose {
  max-width: 65ch
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw--rotate-90 {
  --tw-rotate: -90deg;
  transform: var(--tw-transform)
}

.tw--rotate-180 {
  --tw-rotate: -180deg;
  transform: var(--tw-transform)
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-flex-col {
  flex-direction: column
}

.tw-items-center {
  align-items: center
}

.tw-justify-center {
  justify-content: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-8 {
  gap: 2rem
}

.tw-gap-3 {
  gap: 0.75rem
}

.tw-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.tw-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.tw-space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-self-center {
  align-self: center
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-rounded-full {
  border-radius: 9999px
}

.tw-border-none {
  border-style: none
}

.tw-border-current {
  border-color: currentColor
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.tw-bg-\[color\:var\(--section-bg\)\] {
  background-color: var(--section-bg)
}

.tw-bg-transparent {
  background-color: transparent
}

.tw-bg-current {
  background-color: currentColor
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-p-6 {
  padding: 1.5rem
}

.tw-p-0 {
  padding: 0px
}

.tw-py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.tw-pt-6 {
  padding-top: 1.5rem
}

.tw-pt-16 {
  padding-top: 4rem
}

.tw-text-center {
  text-align: center
}

.tw-text-right {
  text-align: right
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.\!tw-text-\[11px\] {
  font-size: 11px !important
}

.\!tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.\!tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-font-bold {
  font-weight: 700
}

.tw-text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.tw-underline {
  text-decoration: underline
}

.tw-filter {
  filter: var(--tw-filter)
}

.hover\:tw-border-black:hover {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity))
}

.hover\:tw-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.hover\:tw-grayscale:hover {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-filter)
}

@media (min-width: 640px) {
  .sm\:tw-h-\[300px\] {
    height: 300px
  }
}

@media (min-width: 768px) {
  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .md\:tw-items-center {
    align-items: center
  }

  .md\:tw-gap-6 {
    gap: 1.5rem
  }

  .md\:tw-pt-0 {
    padding-top: 0px
  }
}

@media (min-width: 1024px) {
  .lg\:tw-block {
    display: block
  }

  .lg\:tw-flex {
    display: flex
  }

  .lg\:tw-h-\[31px\] {
    height: 31px
  }

  .lg\:tw-h-\[600px\] {
    height: 600px
  }

  .lg\:tw-w-auto {
    width: auto
  }

  .lg\:tw-w-\[54px\] {
    width: 54px
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .lg\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }

  .lg\:tw-flex-row {
    flex-direction: row
  }

  .lg\:tw-items-start {
    align-items: flex-start
  }

  .lg\:tw-items-end {
    align-items: flex-end
  }

  .lg\:tw-space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .lg\:tw-rounded-none {
    border-radius: 0px
  }

  .lg\:tw-border {
    border-width: 1px
  }

  .lg\:tw-border-solid {
    border-style: solid
  }

  .lg\:tw-bg-transparent {
    background-color: transparent
  }

  .lg\:tw-p-8 {
    padding: 2rem
  }

  .lg\:tw-text-left {
    text-align: left
  }

  .lg\:tw-text-right {
    text-align: right
  }
}

@media (min-width: 1280px) {
  .xl\:tw-max-w-7xl {
    max-width: 80rem
  }
}

