{% comment %}
Custom blocks from custom pages and collections in 1 single snippet to reduce repeating code for faster usage, fixes and editing
{% endcomment %}

<div data-section-id="{{ section.id }}" data-section-type="custom-page-section">
  <div id="content" class="custom-page-content">
      {% if settings.breadcrumb %}
        {% render 'breadcrumb' %}
      {% endif %}
      <!-- start the custom content -->
      <div class="page-sections">
        <div class="{% render '[class]-container'  class: '' %}">
          <div id="gallery" class="gallery">

          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- end the custom content -->
  </div>
</div>
<script>
  let promohashtags =["#designericonsOnsale", "#designericoniconsPromo", "#designericonSale", "#designericonWeeklySale", "#designericonFlashSale", "#designericonGrandSale",]
  fetch('{{ 'instagram-feed.json' | file_url }}').then(res=>res.json()).then(result=>{
      console.log({result})
      document.querySelector('#gallery').innerHTML=''
      const itemsFragments = document.createDocumentFragment()
      let str = ''
      result.data.user.edge_owner_to_timeline_media.edges.filter(
          ({node})=>{
              const text = node.edge_media_to_caption.edges[0].node.text
              return !promohashtags.find((hashtag)=>text.includes(hashtag))
          }
      ).forEach(({node})=>{
          let imageUrl = `https://raw.githubusercontent.com/ngohoanglong/instagram-feed/main/out/images/instagram-feed-${node.id}.jpg`
          str=str+`<a target="_blank" href="https://www.instagram.com/p/${node.shortcode}/"  class="keen-slider__slide tw-group">
              <img src="${imageUrl}" alt="{{shop.name}}"/>
              <div class="tw-pointer-events-none tw-absolute tw-inset-0 tw-w-full tw-h-full tw-bg-black tw-bg-opacity-50 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-opacity tw-duration-700 tw-text-white tw-flex tw-justify-center tw-items-center">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
              </div>
          </a>`
      })
      document.querySelector('#gallery').innerHTML=str
  })
</script>