@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow-x: visible;
    overflow-y: visible;
}
  
.link{
    text-decoration-color:transparent;
    -moz-text-decoration-color:transparent;
}
.footer{
    font-size: 1.4rem;
}