@import "tailwindcss/utilities";
@import "tailwindcss/components";
@import "tailwindcss/variants";

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow-x: visible;
    overflow-y: visible;
    }
  