@import "tailwindcss/utilities";
@import "tailwindcss/components";
@import "tailwindcss/variants";

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow-x: auto;
    overflow-y: auto;
    }
  